* {
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif, unset;
  text-align: center;
  font-size: 3em;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  padding: 10px;
  font-weight: bolder;
}

button:hover {
  color: #fff;
  background-color: #2f2e2e;
}

.output {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
