* {
  padding: 0;
  color: #fff;
}

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif, unset;
  text-align: center;
  margin: 0, auto;
  font-weight: 800px;
  font-size: 3em;
}
